@import "mixin.scss";

.home-hero-wrapper {
  background-size: cover;
  background-color: var(--black);
  position: relative;
  z-index: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include md(md) {
    height: 180vh;
  }

  .home-hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin-top: 4rem;
    width: var(--global-width);

    @include md(xl) {
      width: var(--global-width--tablet-x);
    }

    @include md(lg) {
      width: var(--global-width--mobile-s);
    }

    position: relative;
    @include md(md) {
      grid-template-columns: 1fr;
      width: 90%;
      margin-top: 0;
    }
  }
}
