.image-with-text-section__wrapper {
  // section
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0rem;

  .image-with-text-section__container {
    // div
    width: var(--global-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    @media only screen and (max-width: 600px) {
      & {
        width: 90%;
        grid-template-columns: 1fr;
      }
    }

    .image-with-text-section__img {
      // img
      width: 100%;
      height: 22.5rem;
      background-size: cover;
      border-radius: 1rem;

      @media only screen and (max-width: 600px) {
        & {
          width: 100%;
          grid-template-columns: 1fr;
        }
      }
    }

    .image-with-text-section__info-wrapper {
      // div
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .image-with-text-section__header {
      // span
      color: var(--black);
      text-transform: uppercase;
      margin-bottom: 1.25rem;
      font-size: 2rem;
      letter-spacing: 0.0625rem;
      font-weight: 700;
    }

    .image-with-text-section__sub-header {
      // span
      color: var(--primary-color-light-1);
      text-transform: uppercase;
      margin-bottom: 1.25rem;
      font-size: 1rem;
      font-weight: 700;
    }

    .image-with-text-section__paragraph {
      // p
      color: #565656;
      font-size: 0.9375rem;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 1.625rem;
    }
  }
}
