@import "mixin.scss";

.schedule-box {
  background-color: var(--black-3);
  border-radius: 0.3125rem;
  padding: 1.875rem;
  @include md(xl) {
    margin-bottom: 1rem;
  }
  display: flex;
  align-items: center;
  flex-direction: column;

  .box-header {
    font-size: 2.25rem;
    margin-bottom: 1rem;
    text-align: center;

    @include md(xl) {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }

    @include md(lg) {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    color: var(--white);
  }

  .box-form-wrapper {
    width: 100%;
    padding: 0.8rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;

    @include md(xl) {
      padding: 0;
    }
  }
}
